.button{

    -fx-border-width: 1;

    -fx-border-color: rgb(72,61,139);

    -fx-border-radius: 5;

    -fx-background-radius: 5;

    -fx-background-color: rgb(65,105,225);

    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;

    -fx-font-size: 16; /* 12 */

    -fx-text-fill: white;

}

.button:focused {

    -fx-border-width: 1;

    -fx-border-color: rgb(72,61,139);

    -fx-border-radius: 5;

    -fx-background-radius: 5;

}

.button:pressed {

    -fx-background-color: rgb(29,57,196);

    -fx-text-fill: white;

}
