.toolbar{
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 1;
    -fx-background-color:rgb(242,242,242);
}
.tablepane{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color:rgb(242,242,242);
}

/*设置表格头靠左、字体大小，字体颜色*/
/*#indexTable .column-header .label{*/
/*    -fx-alignment: center;*/
/*    -fx-font-family: "Arial";*/
/*    -fx-text-fill: rgba(68,68,68,0.96);*/
/*    -fx-font-size: 12;*/
/*}*/

/*设置表格头高度*/
.table-view > .column-header-background{
    -fx-pref-height: 40;
}

/*设置每一列内容居中，每一行高度*/
#indexTable .table-row-cell{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#indexTable{
    -fx-table-cell-border-color:transparent;
    -fx-border-color: rgb(200,200,200);
    -fx-alignment: center;
}

/*设置每一列内容居中*/
#indexTable .table-column{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#indexTable .table-row-cell:hover {
    -fx-background-color:rgb(230,235,240);
}

#indexTable .table-row-cell:focused {
    -fx-background-color:#ADD8E6;
}


#phoneTable .table-row-cell{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#phoneTable{
    -fx-table-cell-border-color:transparent;
    -fx-border-color: rgb(200,200,200);
    -fx-alignment: center;
}

/*设置每一列内容居中*/
#phoneTable .table-column{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#phoneTable .table-row-cell:hover {
    -fx-background-color:rgb(230,235,240);
}

#phoneTable .table-row-cell:focused {
    -fx-background-color:#ADD8E6;
}

#list .table-row-cell{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#list{
    -fx-table-cell-border-color:transparent;
    -fx-border-color: rgb(200,200,200);
    -fx-alignment: center;
}

/*设置每一列内容居中*/
#list .table-column{
    -fx-cell-size: 45px;
    -fx-alignment: center;
}

#list .table-row-cell:hover {
    -fx-background-color:rgb(230,235,240);
}

#list .table-row-cell:focused {
    -fx-background-color:#ADD8E6;
    /*-fx-background-color:rgb(276,224,225);*/
}


.opreation{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: rgb(65,105,225);
}

/*.opreation:focused {*/
/*    -fx-border-color: transparent;*/
/*    -fx-border-width: 0;*/
/*    -fx-background-radius: 0;*/
/*    -fx-background-color: transparent;*/
/*    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;*/
/*    -fx-font-size: 1em; !* 12 *!*/
/*    -fx-text-fill: #808080;*/
/*}*/

.opreation:pressed {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: white;
}

#userInfo{
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 1px;
    -fx-background-color: rgb(255,255,255);
}

